env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  PROVIDER: nutanix
  PULUMI_GO_DEP_ROOT: ${{ github.workspace }}/..
  PULUMI_LOCAL_NUGET: ${{ github.workspace }}/nuget
  PULUMI_TEST_OWNER: "pierskarsenbarg"
jobs:
  command-dispatch-for-testing:
    name: command-dispatch-for-testing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5
      - uses: peter-evans/slash-command-dispatch@v5
        with:
          commands: run-acceptance-tests
          issue-type: pull-request
          permission: write
          reaction-token: ${{ secrets.GITHUB_TOKEN }}
          repository: pierskarsenbarg/pulumi-nutanix
          token: ${{ secrets.PULUMI_BOT_TOKEN }}
    strategy: {}
"on":
  issue_comment:
    types:
      - created
      - edited
